@property --post-embed-color {
  syntax: '*';
  inherits: true;
}

@property --post-embed-background {
  syntax: '*';
  inherits: true;
}

@property --post-embed-border-color {
  syntax: '*';
  inherits: true;
}

@property --post-embed-radius {
  syntax: '*';
  inherits: true;
}

@property --post-embed-padding {
  syntax: '*';
  inherits: true;
}

@property --post-embed-muted-color {
  syntax: '*';
  inherits: true;
}

@property --post-embed-link-color {
  syntax: '*';
  inherits: true;
}

@layer post-embed {
  :where([data-post-embed='x-post']) {
    display: block;
  }
}
